
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0 auto;  /*  opor niche 0 bam dan a auto */

}
/* shared items */
.flex{
    display: flex;
}

.btn{
    color: #FFFFFF ;
    max-width: 180px;
    width: 100%;
    background-color: #FF900E;
    padding: 21px 24px 20px 25px;
    border-radius: 8px;
    border: none;

}

.text-gray{
   color: #424242;

}
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1) ;
}

/* nav-bar */

.navbar{
    justify-content: space-between;
}
.brand{
    font-weight: 700;
    font-size: ;
}

.nav-links{

    list-style: none;
    gap: 30px;
    /* justify-content: space-between;
    max-width:477px ;
    width: 100%;     */
   
    
}
.nav-link{
    gap: 30px;
    /* margin-right: 30px; */

}
.nav-link{
    text-decoration: none;
  
    font-weight: 500 ;
}
.navbar .banner{
    max-width: 1440px;
}

.banner
